matplotlib>=3.5
numpy~1.26
pandas
panel==0.14.4
param<2
bokeh==2.4.3
jupyter-bokeh==2.0.4
scipy
scikit-image
opencv-contrib-python
pytest
jupyter
cython
seaborn
tqdm
pooch
colorama
pysolar
sphinx
nbsphinx
sphinx-rtd-theme
sphinx-markdown-tables
sphinx-copybutton
